.btn {
  border: none;
  border-radius: 5px;
  height: 45px;
  margin: 2px;
  background: $primary-background-color;
  color: invert-text-color($primary-background-color);
  font-size: 20px;
  cursor: pointer;

  &.primary-button {
    color: invert-text-color($primary-text-color);
    background-image: linear-gradient(to top right, $demo-orange-dark, $demo-orange);
    &:hover,
    &:focus {
      background: $demo-orange-dark;
    }
  }
  &.secondary-button {
    border: 2px solid $demo-orange;
    color: $demo-orange;
    &:hover,
    &:focus {
      color: $demo-orange-dark;
      border: 2px solid $demo-orange-dark;
    }
  }
  &.invert-button {
    @extend .primary-button;
    border: 2px solid white;
    &:hover,
    &:focus {
      color: $demo-orange-dark;
      background-color: $primary-background-color;
      border: 2px solid $demo-orange-dark;
    }
  }
}
.btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
