.hero-img-container {
  width: 100%;
  justify-content: center;
  .hero-img {
    max-width: 250px;
    object-fit: contain;
  }
}
.hero-info {
  .hero-title {
    justify-content: center;
    h1 {
      padding: 5px 0;
      font-size: 1.8em;
    }
  }
  .primary-button,
  .secondary-button {
    align-items: center;
    justify-content: center;
  }
  p {
    padding: 20px;
  }
}
