header {
  position: fixed;
  z-index: 3;
  width: 100%;
  &.show {
    // dark after pseudoelement overlay 100% and because it covers 100% it prevents clicking
    &::after {
      content: '';
      display: block;
      background-color: rgba(0, 0, 0, 0.8);
      height: 100vh;
      max-width: 450px;
    }
  }
}
.menu-btn-container {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  &.close {
    background: none;
    z-index: 4;
  }
}
.menu-btn {
  position: absolute;
  right: 11px;
  top: 16px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    border-radius: 15px;
    background: $primary-background-color;
    @include easeOut;
  }
  // Transform hamburger icon into "X"
  &.close {
    transform: rotate(180deg);
    .btn-line {
      background: $primary-background-color;
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu overlay
.menu {
  position: relative;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
  &-nav {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    width: 270px;
    height: 100vh;
    top: 0;
    left: -270px;
    overflow: hidden;
    padding-top: 85px;
    @include easeOut;
    &.show {
      left: 0;
    }
  }
  .menu-nav-items {
    display: inline-block;
    padding: 0.8rem 35px;
    font-size: 15px;
    font-weight: 500;
    color: invert-text-color($primary-text-color);
    text-decoration: none;
    @include easeOut;
    &:hover {
      background: $secondary-background-color;
      color: $primary-text-color;
    }
  }
}

// sass for loop to delay each nav item slide in by 0.1 seconds
// @for $x from 1 through 4 {
//   .menu-nav-items:nth-child(#{$x}) {
//     transition-delay: $x * 0.1s;
//   }
// }
