.team-container {
  padding: 10px 10px 10px 20px;
  p {
    color: $demo-orange;
  }
  .team-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: grayscale(1);
    margin-right: 15px;
  }
}
