.gradient {
  background-image: linear-gradient(to top right, $demo-orange-dark, $demo-orange-light);
}
.gradient-blue {
  background-image: linear-gradient(to top right, $menu-blue-light, $menu-blue-dark);
}
.gradient-green {
  background-image: linear-gradient(to top right, $primary-positive-cta-color, #7bfebf);
}
