// Color Palette
$primary-background-color: #fff;
$secondary-background-color: #e4e4e4;
$secondary-background-color-darker: #323234;
$secondary-background-color-lite: #eeebe6;

$primary-text-color: #000;
$secondary-text-color: #393939;
$secondary-text-color-lite: #515151;

$primary-positive-cta-color: #1da362;
$secondary-positive-cta-color: #3e85ca;
$negative-cta-color: #ca3b33;
$undo-cta-color: #9b3eca;
$hover-cta-color: rgb(187, 0, 150);

// DemocracyLab Oranges
$demo-orange: #f2a648;
$demo-orange-light: #ffb06b;
$demo-orange-dark: rgb(255, 98, 0);

// Menu Blues
$menu-blue-light: #005f74;
$menu-blue-dark: #00479d;

// Dynamically Invert Color
@function invert-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
// ============ End of Color Palette

// Font Palette
$primary-font: 'Avenir', Helvetica, sans-serif;
// ============ End of Font Palette
